.h_Uno{
    font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Supermercado One', cursive;
font-size: 25px;
top: 30px;
left: 30px;
position: absolute;
color: black;
}

.h_dos{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Supermercado One', cursive;
    font-size: 25px;
    top: 30px;
    left: 100px;
    position: absolute;
    color: black; 
}

.h_tres{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Supermercado One', cursive;
    font-size: 25px;
    top: 30px;
    left: 120px;
    position: absolute;
    color: black; 
}

.h_cuatro{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Supermercado One', cursive;
    font-size: 25px;
    top: 30px;
    left: 120px;
    position: absolute;
    color: black; 
}

.h_cinco{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Supermercado One', cursive;
    font-size: 25px;
    top: 30px;
    left: 30px;
    position: absolute;
    color: black; 
}

.h_seis{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Supermercado One', cursive;
    font-size: 25px;
    top: 30px;
    left: 20px;
    position: absolute;
    color: black; 
}

.h_siete{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Supermercado One', cursive;
    font-size: 25px;
    top: 30px;
    left: 30px;
    position: absolute;
    color: black; 
}

.h_ocho{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Supermercado One', cursive;
    font-size: 25px;
    top: 30px;
    left: 20px;
    position: absolute;
    color: black; 
}

.h_nueve{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Supermercado One', cursive;
    font-size: 25px;
    top: 30px;
    left: 120px;
    position: absolute;
    color: black; 
}

.h_dies{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Supermercado One', cursive;
    font-size: 25px;
    top: 30px;
    left: 0px;
    position: absolute;
    color: black; 
}

.h_once{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Supermercado One', cursive;
    font-size: 25px;
    top: 30px;
    left: 30px;
    position: absolute;
    color: black; 
}

.h_doce{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Supermercado One', cursive;
    font-size: 25px;
    top: 30px;
    left: 80px;
    position: absolute;
    color: black; }

.h_trece{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Supermercado One', cursive;
    font-size: 25px;
    top: 30px;
    left: 120px;
    position: absolute;
    color: black; 
}

.h_catorce{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Supermercado One', cursive;
    font-size: 25px;
    top: 30px;
    left: 30px;
    position: absolute;
    color: black; 
}

.h_quince{
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Supermercado One', cursive;
    font-size: 25px;
    top: 30px;
    left: 120px;
    position: absolute;
    color: black; 
}